<html>
    <head>
        <title>kunalmysite1</title>
    </head>
    <body>
        <div>
            <h1><a href="/">kunalmysite1</a></h1>
        </div>

        <div>
            <p>published: 20.06.18, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello welcome back to the site</p>
        </div>

        <div>
            <p>published: 20.06.18, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>we are happy to help you</p>
        </div>
	

   </body>
</html>
